*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 30px;
    position:sticky;
    top:0;
    z-index: 2000;
    background: #fff;
    border-bottom: 0.5px solid #cccccc54;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    max-width: 1200px;
    width: 95%;
    margin:auto;
    justify-content: end;
    
    display: flex;
    flex-direction: column;
    transform: translate(200%);
    position:fixed;
    @media screen and (min-width:768px){
        position: static;
        transform: translate(0);
        flex-direction: row;
        
    }
}
header h2{
    color:#002;
    font-weight: bold;
}
header h2 span{
    font-size: 12px;
    display: block;
    letter-spacing: 5px;
}
header nav a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding:8px;
    letter-spacing:2px;

}
/* HERO Design */
.hero img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.hero{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.hero-content{
background: radial-gradient(#fff,#ffffff34);
height: 100vh;
width: 100%;
display: flex;
align-items:center;
justify-content:center;

}